<ion-view view-title="About">
  <ion-content class="padding">
    
	<div class="text">
<p>Earth Observation satellites continuously observe the annual and inter-annual dynamics of the Earth's vegetation phenology - an important variable characterizing plant traits and indicating environmental change. As a key Essential Biodiversity Variable metrics like the start and duration of the growing period provide valuable information to environmental experts, scientists and citizens.</p>
<p>Satellite data on environmental change are freely available on global level and are integrated in the open data initiative of the European Commission and the Group on Earth Observation (GEO). The MySeasons App is part of the MyGEOSS project on innovative apps in environmental and social domains and addresses the mobile integration of optical satellite time series data for vegetation phenology monitoring. Users are invited to browse a 15 years global archive of satellite data &dash; derived from NASA's Moderate Resolution Imaging Spectroradiometer (MODIS) onboard TERRA/AQUA for individual phenological monitoring purposes. MySeasons also integrates crowed sourcing of phenological observations by the individual user. Both - crowed sourced observations by the citizen scientists and satellite-derived phenological metrics can be analysed and collected to analyse an increase the understanding on global environmental change. </p>  
<p>Users of MySeason make use and support the land and climate change observation services of the European Union's Earth monitoring programme Copernicus. The mobile application allows to use time series of the Enhanced Vegetation Index (EVI) for analyzing the start, length and end of the growing season, and long term vegetation trend analyses. With the app users can participate in building and establishing an in-situ database for phenological information and compare their individual observations with satellite measurements. The user can explore thematic maps related to phenology and have access to a 15 year time series of global vegetation dynamics.</p>
<p>The application was designed and developed by the Department for Earth Observation of the Friedrich-Schiller-University Jena. The satellite data are provided by the United States Geological Survey (USGS) and the Google Earth Engine. Phenological metrics are derived using the TIMESAT software, developed by Lund University.</p>
	</div>
	
	<div class="text">
		<p>
			<a href="#" onclick="window.open('http://www.eo.uni-jena.de', '_system', 'location=yes'); return false;" target="_system" style="margin-left:10%;"><img src="img/fsu.jpg" width="34%" border="0" /></a>
			<a href="#" onclick="window.open('http://digitalearthlab.jrc.ec.europa.eu/mygeoss/', '_system', 'location=yes'); return false;" target="_system" style="margin-left: 20%;"><img src="img/mygeoss.png" width="24%" border="0" /></a>
		</p>
	</div>
	
	<hr/>
	<strong>Version: </strong>1.0<br />
	<strong>{{ 'Date' | translate }}:</strong>2015-10-20
	
	<br /><br /><br />
  </ion-content>
</ion-view>
